:root {
	/* VARIABLES */
	--color-text: #f7f7f7;
	--color-main: #fc7f16;
	--color-main-light: #ffb16f;
	/* DOCUMENT STYLES */
	color: var(--color-text);
	font-family: "Rubik", sans-serif;
}
/* ----------------------------------------------- */
/* GLOBAL RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* ----------------------------------------------- */
/* GENERAL ELEMENT STYLES */
a {
	color: var(--color-text);
	text-decoration: none;
}
img {
	max-width: 100%;
}
body {
	height: 100vh;
	width: 100vw;
}
section {
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(3, 1fr);
}
form {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
h2 {
	font-size: 48px;
	color: var(--color-text);
	text-transform: uppercase;
	letter-spacing: 2px;

	margin-bottom: 32px;
}
label {
	color: var(--color-text);
	letter-spacing: 0.5px;

	padding: 0 4px;
	border-radius: 2px;

	position: absolute;
	left: 0;
	top: -4px;
	transform: translate(0, -100%);
}
input {
	font-size: 18px;
	font-weight: 300;

	width: 100%;
	padding: 4px 8px;
	border: none;
	border-radius: 8px;

	transition: all 0.2s ease-out;
}
/* ----------------------------------------------- */
/* RELATIVE POSITIONING */
.relative {
	position: relative;
}
/* ----------------------------------------------- */
/* IMAGE GALLERY STYLES */
.gallery {
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.gallery-img {
	transition: all 0.3s ease-in-out;
}
.gallery-img:hover {
	outline: 2px solid var(--color-main-light);
	outline-offset: -10px;
	border-radius: 2px;
}
.pizza1 {
	background-image: url(../images/pizza\ 1.jpg);
	background-size: cover;
}
.pizza2 {
	background-image: url(../images/pizza\ 2.jpg);
	background-size: cover;
}
.pizza3 {
	background-image: url(../images/pizza\ 3.jpg);
	background-size: cover;
}
.pizza4 {
	background-image: url(../images/pizza\ 4.jpg);
	background-size: cover;
}
.pizza5 {
	background-image: url(../images/pizza\ 5.jpg);
	background-size: cover;
	grid-row: 2 / 4;
}
.pizza6 {
	background-image: url(../images/pizza\ 6.jpg);
	background-size: cover;
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}
.pizza7 {
	background-image: url(../images/pizza\ 7.jpg);
	background-size: cover;
}
/* ----------------------------------------------- */
/* SIGNUP FORM STYLES */
.signup {
	width: 100%;
	background: linear-gradient(
		90deg,
		rgba(252, 127, 22, 1) 0%,
		rgba(255, 143, 49, 1) 45%,
		rgba(255, 177, 111, 1) 100%
	);
	justify-self: stretch;
	align-self: stretch;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input:focus-visible {
	outline: 1px solid var(--color-main);
	outline-offset: -2px;
}
.submit button {
	font-size: 18px;
	color: var(--color-text);

	width: 100%;
	background-color: transparent;
	padding: 8px 16px;
	letter-spacing: 0.5px;
	border: 1px solid var(--color-text);
	border-radius: 16px;
	box-shadow: 0 10px 10px var(--color-main);

	transition: all 0.3s;
}
.submit button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 10px 20px var(--color-main);
	transform: translateY(-2px);
}
.submit button:active {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 5px 5px var(--color-main);
	transform: translateY(1px);
}
/* ----------------------------------------------- */
/* SIGNIN STYLES */
.signin p {
	letter-spacing: 0.5px;
}
.signin a {
	color: var(--color-main);
	text-decoration: none;

	background-color: var(--color-text);
	padding: 4px 8px;
	margin-left: 4px;
	border-radius: 16px;

	transition: all 0.2s ease-out;
}
.signin a:hover {
	color: var(--color-text);
	background-color: var(--color-main);
}
/* ----------------------------------------------- */
/* SIGNATURE STYLES */
.signature {
	color: rgba(255, 255, 255, 0.6);
	text-wrap: nowrap;

	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translateX(-50%);
}
